@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Poiret+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --main-color: aliceblue;
  --accent-color: rgb(113, 0, 150);
  --hidden-color: grey;
}

::selection {
  color: black;
  background-color: white;
}

body {
  font-family: "Cairo", sans-serif;
  overflow-x: hidden;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  color: var(--main-color);
  z-index: 2;
}

.nav-links {
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 30px;
  font-size: 20px;
  font-weight: 700;
}

.nav-links a {
  padding: 8px 16px;
  color: inherit;
  text-decoration: none;
  border-radius: 2px;
  transition: 0.3s ease-out;
}

.nav-links a:hover {
  background-color: var(--main-color);
  color: black;
}

.nav-link.active {
  color: white;
  border: 1px solid white;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: default;
  transition: transform 0.2s;
}

.logo:hover {
  transform: scale(1.05);
}

.logo h1 {
  font-family: "Poiret One", sans-serif;
  font-size: 25px;
  color: aliceblue;
}

.logo img {
  filter: invert(100%);
  width: 30px;
}

.hero {
  position: relative;
  margin-top: -129px;
  height: 110vh;
  color: var(--main-color);
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(assets/stars.jpg);
  background-size: 1000px;
  z-index: -1;
  animation: scaleAnimation 60s linear infinite;
  transform: scale(1.1);
}

@keyframes scaleAnimation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2);
  }
}

.earth {
  position: absolute;
  top: 10%;
  right: -40%;
  width: 125%;
  min-width: 300px;
  z-index: -1;
  animation: rotateAnimation 360s linear infinite;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  left: 100px;
  top: 200px;
  max-width: 1000px;
  gap: 50px;
}

.title-container h1 {
  font: normal 500 80px "Noto Serif Display", serif;
  color: white;
  margin-bottom: -50px;
}
.title-container h2 {
  font: normal 500 90px "Cairo", sans-serif;
  color: white;
  margin: 0 50px -40px 0;

  align-self: center;
}

.title-container p {
  line-height: 1.5;
  color: inherit;
  font-size: 19px;
  text-indent: 20px;
  width: 65%;
  color: var(--hidden-color);
  transition: color 0.5s, font-size 0.3s, text-indent 0.3s, transform 1s;
  cursor: default;
}

.title-container p:hover {
  color: var(--main-color);
  font-size: 20px;
  transform: translate(12px, 0px);
  text-indent: 0px;
}

.btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  border: none;
  color: black;
  padding: 10px 20px;
  background-color: aliceblue;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.2s linear;
}

.title-container .btn:hover {
  text-decoration: none;
  background: transparent;
  outline: 1px solid var(--main-color);
  filter: invert(100%);
}

.arrow {
  padding-top: 5px;
  width: 20px;
}

.statistics {
  position: relative;
  z-index: 1;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  background-image: url(assets/floating.jpg);
  background-color: rgb(0, 0, 0, 0.4);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.statistics h2 {
  margin: 30px;
  position: absolute;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  top: 50px;
  min-width: 1000px;
  font: normal 500 80px "Noto Serif Display", serif;
  color: white;
}

.card-container {
  margin: 300px 10% 100px 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10%;
  color: aliceblue;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  gap: 40px;
  color: white;
  font-weight: 600;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.2); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Blur effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: filter 0.5s, transform 0.5s;
}

.card:hover {
  transform: scale(1.01);
  filter: brightness(100%);
}

.card img {
  width: 100%;
  border-radius: 20px;
}

.card p {
  font-size: 18px;
}

.bold {
  font-weight: 700;
}

.card .btn {
  /* width: 150px; */
  align-self: flex-start;
}

.card .btn:hover {
  text-decoration: none;
  background: transparent;
  outline: 1px solid var(--main-color);
  filter: invert(100%);
}

.card .arrow {
  width: 20px;
}

.about-me {
  border-top: 5px solid white ;
  position: relative;
  border-top: 1px solid white;
  height: 100vh;
  color: aliceblue;
  background-color: black;
  background-image: url(assets/astro.jpg);
  background-size: cover;
  background-position: center;
}

/*  */

.about-me-container {
  position: absolute;
  left: 50%;
  top: -50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 400px;
  gap: 80px;
  background-color: aliceblue;
  border-radius: 20px;
  padding: 50px;
  color: black;
  width: 80%;
  flex: 1;
  box-shadow: 2px 2px 30px 20px rgba(0, 0, 0, 0.1);
  transform: translateX(-50%) translateY(50%);
  transition: transform 0.5s;
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Blur effect */
}

.about-me-container:hover {
  transform: translateX(-50%) translateY(50%) scale(1.01);
}

.information-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.information-container h1 {
  font: normal 500 60px "Noto Serif Display", serif;
  color: black;
}

.about-me-container h2 {
  font: normal 600 30px "Noto Serif Display", serif;
  color: #9a4f23;
}

.about-me-container .my-image {
  width: 400px;
  border-radius: 20px;
}

.about-me-container p {
  font-size: 20px;
  line-height: 1.7;
  font-weight: 300;
  cursor: default;
}

.social-media-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.social-media-container img {
  width: 30px;
  transition: 0.2s;
}

.social-media-container img:hover {
  transform: scale(1.2);
}

footer {
  border-top: 2px solid white;
  background-color: black;
  height: 8vh;
}
footer p {
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  gap: 5px;
}
.astronomy {
  font-family: "Poiret One", sans-serif;
  font-weight: 500;
}